{% extends 'main/base.html' %}
{% load static %}
{% block body%}
<div class="about">
    <p>Активно развиваюсь в сфере IT, прошел курсы Тимура Гуева "Поколение Python" на платформе Stepik, "Интерактивный тренажер по SQL" Дальневосточного Федерального Университета.
    <p>Полученные знания использовал для создания асинхронного Telegram бота на фреймворке Aiogram для магазина с возможностью изменять базу данных(SQL) из admin панели пользователя.
    <p>Обучение продолжил с создания сайта-визитки. В результате работы над проектом использовал Django, Jinja, HTML, CSS, Bootstrap
    <p>В данный момент изучаю автоматическое тестирования с помощью Python и Selenium, улучшаю функционал и дизайн личного сайта.
    <p> <a href="{% static 'main/docx/resume.doc' %}" download="">
        <button class="btn btn-success">Скачать резюме</button>
        </a>
{% endblock %}