{%extends 'main/base.html'%}
{%block body%}
<div class="contact">
    <h1>Контактная информация</h1>
    <h2><a href="https://github.com/Feroman1?tab=repositories" class="underline-one"><i class="fa-brands fa-github"></i> Andrey Baranov</a></h2>
    <h2><a href="https://vk.com/id335873150" class="underline-one"><i class="fa-brands fa-vk"></i> Андрей Баранов</a></h2>
    <h2><a href="https://t.me/Baranov_Andrey1" class="underline-one"><i class="fa-solid fa-paper-plane"></i> Baranov_Andrey1</a></h2>
    <h2><a href="mailto:feroman95@mail.ru" class="underline-one"><i class="fa-solid fa-envelope-circle-check"></i> feroman95@mail.ru</a></h2>
    <h2><i class="fa-solid fa-phone"></i> +7-906-638-97-93</h2>
</div>
{%endblock%}